
.container { 
    height: 100vh;
    background-image:url(../../images/bgg.jpg) ; 
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(59, 59, 58);
    background-position: 50% 50%;
    
  }
  
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .btn1{
      font-size: 20px;
      background: rgb(71, 71, 71);
      border: solid 4px rgb(238, 193, 110);
      color: aliceblue;
      margin-top: 60px;
      margin-left: 140px;
      padding: 15px 20px;
      text-align: center;
      transition: .5s;
      border-style:double;
      border-radius: 10px;
      font-weight: 100;
      
    
     
  }

