.topbar{
    width:100%;
    height: 50px;
    background-color: #D1CCCC;
}
 .topbarWrapper{
     height: 100%;
     padding: 0px 20px;
     display: flex;
     align-items: center;
     justify-content: space-between;

 }

 .logo{
  width:40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer; 
 }
 button{
     background: white;
    border: solid 2px wheat;
    padding: 10px 20px; 
    text-align: center;
    transition: .5s;
    border: #D1CCCC 2px solid;
    outline: none;
    color: #1b1b1b;
    font-size: 20px;
    font-weight: 700;
    border-radius: 2px;
    
 }
.topLeft{
display: flex;

}
